html {
  font-size: 18px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: var(--fontRegular);
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: consola;
  src: url(./assets/CONSOLA.woff);
}
@font-face {
  font-family: consolaBold;
  src: url(./assets/CONSOLAB.woff);
}
:root {
  --background: #282a36;
  --currentLine: #44475a;
  --black: #1a1b20;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --fontRegular: "consola", "sans serif";
  --fontBold: "consolaBold", "sans serif";
}
.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 60px;
}
section {
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-container {
  width: 100%;
  border: 1px solid var(--foreground);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 0.3fr 3.1fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "fileName fileName fileName fileName"
    "tabOne tabTwo tabThree tabIcon"
    "textWindow textWindow textWindow textWindow"
    "footer footer footer footer";
}

.fileName {
  grid-area: fileName;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--black);
  color: var(--foreground);
}
.fa-circle {
  padding-left: 10px;
}
.fa-circle:nth-child(1) {
  color: var(--red);
}
.fa-circle:nth-child(2) {
  color: var(--yellow);
}
.fa-circle:nth-child(3) {
  color: var(--green);
}
.fileName p {
  margin: 0 auto;
}

.tabOne {
  grid-area: tabOne;
}

.tabTwo {
  grid-area: tabTwo;
}

.tabThree {
  grid-area: tabThree;
}

.tabIcon {
  grid-area: tabIcon;
}

.textWindow {
  grid-area: textWindow;
}

.footer {
  grid-area: footer;
}

.typed-cursor {
  color: var(--blueDark);
}
